*{

    margin: 0 auto;
    padding: 0;
}
.sec1{
    width: 55%;
    height: auto;
    display: flexbox;
    justify-self: center;
    background-color: rgb(141, 236, 204);
    justify-content: center;
    text-align: center;
    margin-top: 25px;

}
